@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    border-radius: 8px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 240px;
      background-color: #212529; /* mesma cor bg-dark */
      color: white;
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

.content {
      margin-left: 240px;
      padding: 2rem;
    }

.card img {
      height: 160px;
      object-fit: cover;
    }

.main-gerenciar {
    font-family: "M PLUS Rounded 1c", sans-serif;
    border-radius: 8px;
    font-size: 25px
}

