@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

body {
    background-color: hsl(229, 100%, 91%);
    border-radius: 8px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.main-gerenciar {
    font-family: "M PLUS Rounded 1c", sans-serif;
    border-radius: 8px;
}
